@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}

@keyframes textSlide {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

.animated-confirmation {
    animation: fadeInOut 3s infinite;
    background: linear-gradient(135deg, #ffcccb, #ffe6cc, #ccffe6);
    background-size: 400% 400%;
    animation: backgroundAnimation 5s infinite, fadeInOut 3s infinite;
}

.moving-text {
    animation: textSlide 5s infinite;
    color: #ff5733;
    font-weight: bold;
}

#random-symbols {
    animation: fadeInOut 1s infinite;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
}

#current-time {
    animation: fadeInOut 1s infinite;
    color: #555;
    font-size: 1.2rem;
    font-weight: bold;
}

.bg-black.bg-opacity-50 {
    backdrop-filter: blur(4px);
}

.fixed.inset-0.flex.items-center.justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5);
}
