@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}

#current-time {
    animation: fadeInOut 1s infinite;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.bg-black.bg-opacity-50 {
    backdrop-filter: blur(4px);
}

.fixed.inset-0.flex.items-center.justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    z-index: 50; /* 必要に応じて他の要素より前面に */
    background-color: rgba(0, 0, 0, 0.5); /* 背景に半透明の黒を適用 */
}